<link rel="import" href="../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<dom-module id="page-home">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <ul>
      <template is="dom-repeat" items="[[characters]]" as="character">
        <li>[[character]]</li>
      </template>
    </ul>
    <button on-tap="goToHouses">Go to Houses</button>
    
  </template>

  <script>
    (function() {
      Polymer({
        is: 'page-home',
        behaviors: [CellsBehaviors.i18nBehavior],
        properties: {
          pageHomeTitle: {
            type: String,
            notify: true
          },
          houseTitle: {
            type: String,
            notify: true
          },
          characters:{
            type: Array
          }
        },
        _init : function(){
          this.pageHomeTitle = this.t('page-home-title');
          console.log(this.pageHomeTitle);
          this.set('houseTitle', 'Moyus');
          this.dispatchEvent(new CustomEvent('getCharacters'));
        },
        getCharactersSuccess: function(characters){
          this.characters = characters
        },
        goToHouses: function(){
          this.dispatchEvent(new CustomEvent('go-to-houses'));
        }
      });
    }());

  </script>

</dom-module>
