<link rel="import" href="../../components/cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../components/coronita-icons/coronita-icons.html">
<dom-module id="page-house">
  
  <template>
    <style>
      :host {
        display: block;
      }
      a{
        cursor: pointer;
      }
    </style>
    <h1>[[t('page-house-text')]]</h1>
      <template is="dom-repeat" items="[[houses]]" as="house">
        <div class="housesWrapper">
            <h2>[[house.houseName]]</h2>
            <template is="dom-if" if="[[house.overlord]]">
              <a on-tap="_getDetailRoute"><h3>Overlord</h3></a> 
            </template>
            <p><strong>[[house.coatOfArms]]</strong></p>
        </div>
        <hr>
      </template>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'page-house',
        behaviors: [CellsBehaviors.i18nBehavior],
        properties: {
          pageHouseTitle: {
            type: String,
            notify: true
          },
          houses:{
            type: Array
          },
          houseTitleFromHome:{
            type: String,
            notify: true
          },
          routeNumber:{
            type: String,
            notify: true
          }
        },
        _init : function(){
          console.log(this.houseTitleFromHome);
          this.pageHouseTitle = this.t('page-house-title');
          this.dispatchEvent(new CustomEvent('getHouses'));
        },
        _getDetailRoute: function(e){
          let data = e.model.house.overlord;
          let routePieces = data.split('/');
          let routeEnd = routePieces.length - 1;
          let route = routePieces[routeEnd];
          console.log(route);
          this.set('routeNumber', route);
          this.dispatchEvent(new CustomEvent('go-to-detail'));
        },
        getHousesSuccess: function(houses){
          this.houses = houses;
        },
        /*Funcion _backButton*/
        _backButtonEvent: function(e){
          console.log('Clickety Click');
          this.dispatchEvent(new CustomEvent('go-back'));
        }
      });
    }());

  </script>

</dom-module>
