<link rel="import" href="../../components/cells-generic-dp/cells-generic-dp.html">
<dom-module id="dm-get-characters">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <cells-generic-dp
      id="dp"
      host="[[host]]"
      path="[[path]]"
      method="GET">
    </cells-generic-dp>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'dm-get-characters',
        properties: {
          host:{
            type: String,
            value: window.AppConfig.endpoint
          },
          path:{
            type: String,
            value: 'characters'
          }
        },
        getCharacters: function(){
          /*this.$ quiere decir todo aquello que tenga un id y el .dp quiere decir el id que quieres seleccionar*/
          const charactersRequest = this.$.dp.generateRequest();
          charactersRequest.completes
          .then((data)=>{
            console.log(data.response);
            /*Creamos una constante para guardar el alias de cada personaje usando map*/
            const charactersAlias = data.response.map((character)=>{
              return character.aliases[0];
            }); 
            this._getCharactersSuccess(charactersAlias)
          })
          .catch((error)=>{
            console.log(error);
          })
        },
        _getCharactersSuccess: function(characters){
          this.dispatchEvent(new CustomEvent('getCharactersSuccess', {detail : characters}))
        }
      });
    }());

  </script>

</dom-module>
