<link rel="import" href="../../components/cells-generic-dp/cells-generic-dp.html">
<dom-module id="dm-get-houses">

  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <cells-generic-dp
      id="dp"
      host="[[host]]"
      path="[[path]]"
      method="GET">
    </cells-generic-dp>
  </template>

  <script>
    (function() {
      Polymer({
        is: 'dm-get-houses',
        properties: {
          host:{
            type: String,
            value: window.AppConfig.endpoint
          },
          path:{
            type: String,
            value: 'houses'
          }
        },
        getHouses: function(){
          /*this.$ quiere decir todo aquello que tenga un id y el .dp quiere decir el id que quieres seleccionar*/
          const housesRequest = this.$.dp.generateRequest();
          housesRequest.completes
          .then((data)=>{
            console.log(data.response);
            /*Creamos una constante para guardar las casas usando map*/
            const GOTHouses = data.response.map((house)=>{
              return {
                houseName: house.name,
                overlord: house.overlord,
                coatOfArms: house.coatOfArms,
                url: house.url
              }
            })
            this._getHousesSuccess(GOTHouses);
          })
          /*Este es mi catch para pescar los errores*/
          .catch((error)=>{
            console.log(error);
          })
        },
        /*Funcion _getHousesSuccess*/
        _getHousesSuccess: function(houses){
          this.dispatchEvent(new CustomEvent('getHousesSuccess', {detail : houses}))
        }
      });
    }());

  </script>

</dom-module>
